<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <style>
        *{
  text-decoration: none;
  }
.navbar{
		font-family: bitter;
		text-align: center;
		}
.navdiv{
		display: flex;
		align-items: center;
		justify-content: space-between;
		}
li{
		list-style: none;
		display: inline-block;
		}
li a{
		color: black;
		font-size: 35px;
		font-weight: bold;
		}
    </style>
</head>
<body>
<div class="navbar" style="background:MediumSeaGreen;">
    <div class="navdiv">
        <a href="/" style="padding-top:0px; padding-bottom:0px;">
            <img title="Logo" src="{% static 'image/Logo.jpg' %}" alt="My image" style="width:100px;height:80px;">
        </a>
        <ul>
            <li><a title="Home" href="/">Home</a></li>
            <li><a title="Service" href="/services">Service</a></li>
            <li><a title="Contact" href="/contact">Contact</a></li>
        </ul>
        <div class="login">
            <a href="/login"><img title="Login" src="{% static 'image/Login.png' %}" alt="My image"
                                  style="width:30px;height:30px;padding-top:10px;"></a>
        </div>
    </div>
</div>
</body>
{% block content %}
{% endblock %}
</html>