<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <style>
        *{
  text-decoration: none;
  }
.navbar{
		font-family: bitter;
		text-align: center;
		}
.navdiv{
		display: flex;
		align-items: center;
		justify-content: space-between;
		}
    </style>
</head>
<body>
<div class="navbar" style="background:rgb(0, 99, 0);">
    <div class="navdiv">
        <a href="/">
            <img title="Logo" src="{% static 'image/Logo.jpg' %}" alt="My image"
                 style="width:100px;height:80px;padding-left:10px;padding-top:10px">
        </a>
        <a href="/login"><img title="Login" src="{% static 'image/Login.png' %}" alt="My image"
                              style="width:50px;height:50px;padding-right:20px;"></a>
    </div>
</div>
</body>
{% block content %}
{% endblock %}
</html>